@model Fargoline.Models.Contenedor

@{
    ViewBag.Title = "Create";
}

<h2>Añadir contenedor</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card text-bg-primary mb-15" style="max-width: 68rem;">
        <div class="card-header"> <h4>Fargoline S.A.</h4></div>
        <div class="card-body">
           
            <hr />
            <br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NumeroContenedor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumeroContenedor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumeroContenedor, "", new { @class = "text-danger" })
                </div>
            </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TipoContenedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TipoContenedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TipoContenedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TamañoContenedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TamañoContenedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TamañoContenedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PesoContenedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PesoContenedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PesoContenedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TaraContenedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TaraContenedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TaraContenedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <input type="submit" value="Registrar" class="btn btn-success" />
            @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
    </div>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
